.landing-container {
    height: 100vh;
    width: 100%;
}

.landing-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 40px 0 0 0;
}

.landing-explora-btn {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DIN";
    font-size: 15px;
    color: #fafafa;
    background: black;
    transition: background 2s ease;
    border: 1px solid #979797;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 8px 0 8px 0;
}

.landing-explora-text {
    color: #fafafa;
    margin-left: 8px;
}

.landing-buscando {
    color: #fafafa;
    margin: 40px 0 8px 0;
    font-size: 15px;
}

.landing-div {
    width: 100%;
    height: 47px;
    background: black;
    transition: background 2s ease;
    border: 1px solid #979797;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 8px 0 8px 0;
    display: flex;
}

.landing-div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landing-img {
    height: 45px !important;
    width: 45px !important;
    border-radius: 22.5px !important;
}

.landing-lol {
    color: #fafafa;
    margin: 0 0 0 8px;
    font-size: 15px;
}

.landing-modo-sel {
    color: #fafafa;
    margin: 0 0 0 8px;
    font-size: 10px;
}

.landing-info {
    color: #fafafa;
    margin: 40px 0 0 0;
    font-size: 15px;
}

.landing-edita {
    color: #fafafa;
    margin: 20px 0 40px 0;
    font-size: 15px;
}

.landing-redbtn {
    align-self: center !important;
    width: 80% !important;
    min-width: 250px !important;
}
