.navbar-icon {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    line-height: 60px;
}

.navbar-barra {
    position: absolute;
    width: 100% !important;
    height: 60px;
    bottom: 0px;
    background: #081018;
    mix-blend-mode: normal;
    opacity: 0.7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}