@font-face {
  font-family: 'Ailerons';
  src: local('Ailerons400'), url(./fonts/Ailerons400.otf)format('truetype');
}

@font-face {
  font-family: 'DIN';
  src: local('DIN-Next-Wig'), url(./fonts/DIN-Next-Wig.otf)format('truetype');
}
